@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
* {
  margin: 0;
  padding: 0;
  /*transition: all 0.3s ease-in-out;*/
  font-display: optional;
  font-family: "Cantarell", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.LogoMcDo {
  background-color: #044314;
  color: #f9c304;
  outline: none;
  border: 0;
  box-shadow: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.5);
  border-radius: 10px;
  background-color: transparent;
  padding-left: 1%;
  padding-right: 1%;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  height: 5px;
  padding-left: 1%;
  padding-right: 1%;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(173, 173, 173);
  background-color: #555;
  padding-left: 1%;
  padding-right: 1%;
}

.w-10 {
  width: 10% !important;
}

.w-80 {
  width: 80% !important;
}

.RotateArrow {
  transform: rotate(-180deg);
}

svg {
  width: 20px !important;
  height: 20px !important;
  overflow: visible;
}

tbody tr td p,
tbody tr th {
  cursor: pointer;
}

input.hidden {
  display: none;
}

svg {
  transition: all 0.3s ease-in-out;
}

.transition3s {
  transition: all 0.3s ease-in-out;
}

.tooltip-inner {
  white-space: nowrap;
}